@model IEnumerable<pharma_log_anomaly_detector.Models.LogFile>

@{
    ViewData["Title"] = "Analysis History";
}

<h2>Analysis History</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>File Name</th>
            <th>Upload Date</th>
            <th>Records</th>
            <th>Analysis Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model)
        {
            <tr>
                <td>@file.FileName</td>
                <td>@file.UploadDate</td>
                <td>@file.RecordCount</td>
                <td>@file.AnalysisStatus</td>
            </tr>
        }
    </tbody>
</table>


